@model IEnumerable<WebsiteChoThueXe.Models.HangXe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
    <link href="~/Areas/Admin/Content/CSS/Styletable.css" rel="stylesheet" />
}


<h2>Danh sách hãng xe</h2>
<p>
    @Html.ActionLink("Thêm Hãng Xe", "Create", "HangXeAdmin", new { @class = "btn btn-danger btn-sm " })
</p>

<table class="content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên Hãng Xe")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHang)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Sửa", new { id = item.MaHang }, new { @class = "btn btn-danger btn-sm " })
                    @Html.ActionLink("Chi Tiết ", "Chi Tiết", new { id = item.MaHang }, new { @class = "btn btn-danger btn-sm " })
                    @Html.ActionLink("Xóa", "Xóa", new { id = item.MaHang }, new { @class = "btn btn-danger btn-sm " })
                </td>
            </tr>
        }

    </tbody>
</table>


